$backgroundColor: linear-gradient(to bottom right, rgb(209, 54, 54) , rgb(99, 25, 152));


.start-page {
    max-width: 350px;
    margin-top: 15%;
    padding: 50px;
}
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: $backgroundColor;
}
