<nav class="grandflix-logo" style="display: flex">
        <div>
            <mat-icon> local_movies</mat-icon>
            <h1> GrandFlix </h1>
         </div>
    <div>
      <button 
      class="nav-button"
      mat-raised-button 
      color="primary"
      (click)="goToProfile()"
      > <mat-icon>account_circle</mat-icon>
        Profile
      </button>
      <button 
      class="nav-button"
      mat-raised-button 
      color="warn"
      (click)="logOut()"
      > <mat-icon>exit_to_app</mat-icon>
        Log-Out
      </button>
    </div>  
</nav>

<div class="movie-view" style="display: flex">
    <mat-card *ngFor="let movie of movies; let i = index">
      <mat-card-header>
        <mat-card-title>{{ movie.Title }}</mat-card-title>
      </mat-card-header>
      <div class="card-body">
      <img
        src="{{ movie.ImagePath }}"
        alt="{{ movie.Title }}"
        width="260"
        height="360"
      />
      <mat-card-actions>
        <div>
            Genre:
        <button
          mat-button
          (click)="openGenreDialog(
            movie.Genre.Name, 
            movie.Genre.Description
            )"
          color="primary"
        >
          {{ movie.Genre.Name }}
        </button>
        </div>
         <div>
            Director:
        <button
          mat-button
          (click)="
              openDirectorDialog(
                movie.Director.Name,
                movie.Director.Bio,
                movie.Director.Birth_date
              )
            "
          color="primary"
        >
          {{ movie.Director.Name }}
        </button>
        </div>
        <div>
            <button 
              mat-raised-button
              color="primary"
              (click)="openDescriptionDialog(
                movie.Title, 
                movie.Description
                )">
                Synopsis
            </button>
        </div>
  
        <!-- Render add to or remove from favorites button depending on isFav -->
        <button
          mat-button
          *ngIf="!isFav(movie._id)"
          (click)="addToFavoriteMovies(movie._id)"
          color="warn"
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button
          mat-button
          *ngIf="isFav(movie._id)"
          (click)="removeFromFavoriteMovies(movie._id)"
          color="warn"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </div>
    </mat-card>
  </div>