$backgroundColor: linear-gradient(to bottom right, rgb(209, 54, 54) , rgb(99, 25, 152));
$position: center;

.movie-view {
  background: $backgroundColor;
  flex-wrap: wrap;
  justify-content: $position;
  align-items: $position;
}

mat-card {
  width: 275px;
  margin: 20px;
}

.card-body {
  padding: 10px;
}
