$backgroundColor: linear-gradient(to bottom right, rgb(209, 54, 54) , rgb(99, 25, 152));
$position: center;

.movie-view {
  background: $backgroundColor;
  flex-wrap: wrap;
  justify-content: $position;
  align-items: $position;
}

mat-card {
  width: 275px;
  height: 550px;
  margin: 20px;
}

.card-body {
  padding: 10px;
}

nav {
  background-color: black;
}

.grandflix-logo{
  justify-content: space-around;
  align-items: $position;
  padding: 0, 30, 0, 30,;
}

h1{
  background: linear-gradient(to bottom right, rgb(209, 54, 54) , rgb(99, 25, 152));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;                  
  margin-left: 15px;
  font-size: 37px;
  font-weight: 600;
  font-family: Verdana;
  align-self: flex-end;
}

.nav-button {
  height: 45px;
  margin-left: 20px;
}
